---
import Layout from '../components/Layout.astro'
import sanity from '../sanity'
import { Image } from '@astrojs/image/components'

import red from '../assets/red.webp'

const query = /* groq */ `*[_type == "sanity.imageAsset"]`

const photos = await sanity.client.fetch(query)
---

<Layout>
  <div class="flex flex-wrap justify-center gap-x-8 gap-y-8" id="gallery">
    {
      photos.map((photo) => (
        <a
          target="_blank"
          href={photo.url}
          data-pswp-width={photo.metadata.dimensions.width}
          data-pswp-height={photo.metadata.dimensions.height}
          data-cropped="true"
        >
          <img
            width="300"
            height="300"
            src={sanity.urlFor(photo).width(300).height(300).url()}
            alt="img"
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
  <Image
    slot="img-footer"
    src={red}
    alt=""
    class="h-40 w-screen object-cover object-bottom"
  />
</Layout>

<script type="module">
  import PhotoSwipeLightbox from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe-lightbox.esm.min.js'

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    showHideAnimationType: 'none',
    zoomAnimationDuration: false,
    showAnimationDuration: 0,
    hideAnimationDuration: 0,
    pswpModule: () =>
      import(
        'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.esm.min.js'
      ),
  })

  // completely disable animation:
  // https://github.com/dimsemenov/PhotoSwipe/issues/1966#issuecomment-1305661937
  lightbox.addFilter(
    'useContentPlaceholder',
    (useContentPlaceholder, content) => {
      return false
    }
  )
  lightbox.init()
</script>
